.header {
    background-color: #ce000c;
    display: flex;
    align-items: center;
    padding: 10px 0;
    font-size: 16px;
    font-weight: bold;
    justify-content: space-between; /* Ensure space between navigation and login partial */
}

.navigation ul {
    display: flex;
    list-style: none;
    margin: 0; /* Remove inner margins */
    padding: 0; /* Remove inner padding */
}

.navigation li {
    margin: 0 10px;
    align-content: center;
}

.navigation a {
    color: #ffffff;
    text-decoration: none;
}

.navigation a:hover {
    color: #D3D3D3;
}

.img {
    margin-left: 25px;
    width: 100px;
}

.login-partial {
    display: flex;
    align-items: center;
    margin-right: 25px;
    list-style: none;
    font-size: 16px;
    font-weight: bold;
    margin: 0 10px;
}

.login-partial a {
    color: #ffffff;
    text-decoration: none;
}

.login-partial a:hover {
    color: #D3D3D3;
}

.login-partial li {
    margin: 0 10px; /* Add spacing between items */
}