@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MOE Shop</title>
    <link rel="stylesheet" href="~/animations/fade-in.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/HomePage.css" asp-append-version="true"/>
</head>
<body>
<!-- HomePage -->
<div class="fade-in">
    <section class="store-info">
        <h1>MOE: Ваш стиль, ваш выбор - выражайте себя уникально.</h1>
        <p>Мы предлагаем широкий ассортимент мужской, женской и детской одежды, а также аксессуаров.
            <br>У нас вы найдете только лучшие бренды и продукты высокого качества.</p>
    </section>

    <section class="main-body">
        <a href="/catalog">Каталог</a>
    </section>
</div>
</body>
</html>
